---
import imgQr from "../assets/qr-facebook.jpeg";
---
<div class="">
    <img class="rounded-t-4xl w-60 m-auto" src={imgQr.src} alt="Soluciones Pro-System Facebook">
</div>
<footer class="text-white h-18 bg-gray-700 flex items-center justify-center">
    <p>Made with ❤️ by <a href="https://itonx.dev" target="_blank"><pre class="ml-2"><code class="bg-black rounded-[8px] py-[10px] px-[8px]">itonx.dev</code></pre></a></p>
</footer>