<div class="text-white bg-black" id="ubicaciones">
	<div class="bg-black pt-7 pb-40">
		<div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
			<p class="mx-auto max-w-lg text-center text-4xl font-semibold tracking-tight text-balance text-white sm:text-5xl">Ubicaciones</p>
		  <div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
			<div class="relative lg:col-span-1 col-span-2">
			  <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-l-[calc(2rem+1px)] max-lg:rounded-t-[calc(2rem+1px)] border-solid border-2 border-gray-500">
				<div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-10">
				  <p class="mt-2 text-lg font-medium tracking-tight text-red-600 max-lg:text-center">Sucursal Villagrán</p>
				  <p class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center">Calle Vicente Guerrero #322, Zona Centro, Villagrán, Gto., CP 38260</p>
				  <p class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center">Lunes a Sábado de 10:00 am - 09:00 pm</p>
				  <p class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center">+52 411 690 2368</p>
				  <p class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center">sps.pro.system@gmail.com</p>
				</div>
			  </div>
			</div>
			<div class="relative lg:col-span-2 col-span-2">
			  <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-r-[calc(2rem+1px)] border-solid border-2 max-lg:rounded-b-[calc(2rem+1px)] border-gray-500">
                    <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3736.834742584115!2d-100.99837818604396!3d20.512999710562873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842c97a0c163d685%3A0x2e675a7f0d5fed27!2sSOLUCIONES%20PRO-SYSTEM%20(SPS)!5e0!3m2!1sen!2smx!4v1625064937778!5m2!1sen!2smx"
                    class="map w-full h-full" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			  </div>
			  <div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 max-lg:rounded-t-[2rem]"></div>
			</div>
            <div class="relative lg:col-span-2 col-span-2">
              <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-l-[calc(2rem+1px)] border-solid border-2 max-lg:rounded-b-[calc(2rem+1px)] border-gray-500">
                <iframe  
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3737.5546115999705!2d-100.9619670409343!3d20.48347855160619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842cbd94cbc35f99%3A0x99eeed0fc2881ae!2sManuel%20Doblado%20137%2C%20Centro%2C%2038300%20Cortazar%2C%20Gto.!5e0!3m2!1sen!2smx!4v1625079061109!5m2!1sen!2smx"
                style="border:0;" allowfullscreen="" loading="lazy" class="map w-full h-full"></iframe>
              </div>
              <div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 max-lg:rounded-t-[2rem]"></div>
            </div>
			<div class="relative lg:col-span-1 col-span-2 max-lg:row-start-3">
                <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-r-[calc(2rem+1px)] max-lg:rounded-t-[calc(2rem+1px)] border-solid border-2 border-gray-500">
                  <div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-10">
                    <p class="mt-2 text-lg font-medium tracking-tight text-red-600 max-lg:text-center">Sucursal Cortazar</p>
                    <p class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center">Calle Manuel Doblado #137, Zona Centro, Cortazar, Gto., CP 38300</p>
                    <p class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center">Lunes a Sábado de 09:00 am - 05:00 pm</p>
                    <p class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center">+52 411 690 2368</p>
                    <p class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center">sps.pro.system@gmail.com</p>
                  </div>
                  <!-- <div class="flex items-center justify-center px-8 lg:my-8 my-0 max-lg:pt-10 max-lg:pb-12">
                      <img class="w-15 max-lg:max-w-15" src="https://raw.githubusercontent.com/marwin1991/profile-technology-icons/refs/heads/main/icons/windows.png" alt="Formateo de computadoras Villagrán Guanajuato SPS Soluciones Pro-System">
                      <img class="w-15 max-lg:max-w-15" src="https://raw.githubusercontent.com/marwin1991/profile-technology-icons/refs/heads/main/icons/linux.png" alt="Instalación de software Villagrán Guanajuato SPS Soluciones Pro-System">
                  </div> -->
                </div>
              </div>
		  </div>
		</div>
	  </div>
</div>