---
import imgCameras from "../assets/cameras.png";
import spsRobot from '../assets/sps-robot.webp';
---

<div class="text-white bg-black" id="servicios">
	<div class="bg-black pt-7 pb-40">
		<div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
			<p class="mx-auto max-w-lg text-center text-4xl font-semibold tracking-tight text-balance text-white sm:text-5xl">Servicios y Ventas</p>
			<div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
				<div class="relative lg:row-span-2 ">
					<div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-l-[calc(2rem+1px)] border-solid border-2 border-gray-500">
						<div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
							<p class="mt-2 text-lg font-medium tracking-tight text-red-600 max-lg:text-center">Reparación de:</p>
							<ul class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center mx-auto">
							<li>Computadoras</li>
							<li>Laptops</li>
							<li>Celulares</li>
							<li>Impresoras</li>
							<li>Bocinas</li>
							<li>Consolas de videojuegos</li>
							<li>Instalación de programas</li>
							</ul>
						</div>
						<div class="flex flex-1 items-center justify-center px-8 max-lg:pt-10 max-lg:pb-12 sm:px-10 lg:pb-2">
							<img class="w-15 max-lg:max-w-15" src="https://raw.githubusercontent.com/marwin1991/profile-technology-icons/refs/heads/main/icons/windows.png" alt="Formateo de computadoras Villagrán Guanajuato SPS Soluciones Pro-System">
							<img class="w-25 max-lg:max-w-25" src="https://raw.githubusercontent.com/marwin1991/profile-technology-icons/refs/heads/main/icons/android.png" alt="Android Celulares y Tablets Villagrán Guanajuato SPS Soluciones Pro-System">
							<img class="w-25 max-lg:max-w-25" src="https://raw.githubusercontent.com/marwin1991/profile-technology-icons/refs/heads/main/icons/ios.png" alt="Apple celulares Villagrán Guanajuato SPS Soluciones Pro-System">
						</div>
					</div>
				</div>
				<div class="relative max-lg:row-start-1">
					<div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)] border-solid border-2 border-gray-500">
						<div class="px-8 pt-8 sm:px-10 sm:pt-10">
							<p class="mt-2 text-lg font-medium tracking-tight text-red-600 max-lg:text-center">Instalación de:</p>
							<ul class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center mx-auto">
								<li>Redes</li>
								<li>Conexiones punto a punto</li>
								<li>Aire acondicionado</li>
								<li>Puntos de venta</li>
								<li>Cámaras de circuido cerrado</li>
							</ul>
						</div>
						<div class="flex flex-1 items-center justify-center px-8 max-lg:pt-10 max-lg:pb-12 sm:px-10 lg:pb-2">
						</div>
					</div>
				</div>
				<div class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2 hidden lg:block">
					<div class="relative flex min-h-70 flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]  border-solid border-2 border-gray-500">
						<div class="@container relative w-full grow max-lg:mx-auto max-lg:max-w-sm">
							<div class="absolute inset-x-1 top-10 bottom-1 overflow-hidden">
								<img class="w-45 object-scale-down m-auto" src={spsRobot.src} alt="Villagrán Guanajuato SPS Soluciones Pro-System">
							</div>
						</div>
					</div>
				</div>
				<div class="relative lg:row-span-2">
					<div class="relative flex h-150 lg:h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]  border-solid border-2 border-gray-500">
						<div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
							<p class="mt-2 text-lg font-medium tracking-tight text-red-600 max-lg:text-center">Venta de:</p>
							<ul class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center mx-auto">
								<li>CCTV o cámaras</li>
								<li>DVRS</li>
								<li>Computadoras</li>
								<li>Laptops</li>
								<li>Celulares</li>
								<li>Bocinas</li>
								<li>Impresoras</li>
								<li>Televisiones</li>
								<li>Consolas de videojuegos</li>
							</ul>
						</div>
						<div class="@container relative w-full grow max-lg:mx-auto max-lg:max-w-sm">
							<div class="absolute inset-x-1 top-10 bottom-1 overflow-hidden">
								<img class="w-80 object-scale-down m-auto" src={imgCameras.src} alt="Cámaras de seguridad Villagrán Guanajuato SPS Soluciones Pro-System">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	  </div>
</div>