---
import imgSpsLanding from '../assets/sps-landing-background.png';
import spsRobot from '../assets/sps-landing-robot.jpg';
---
<div id="welcome" class="h-screen">
	<img class="blur-[2px] fixed z-[-1] h-[100%] w-[100%] mx-auto opacity-50 min-w-[100%] min-h-[100%]" src={imgSpsLanding.src} fetchpriority="high" alt="Villagrán Guanajuato SPS Soluciones Pro-System"/>
	<div class="text-center w-[90%] mx-auto h-[100%] flex flex-col justify-center">
		<div class="text-white lg:text-8xl md:text-7xl sm:text-5xl text-4xl font-bold text-balance mt-25">
			Soluciones Pro-System
		</div>
		<div class="text-white lg:text-4xl md:text-3xl text-2xl flex justify-center mt-10">
			La tecnología hecha para ti
		</div>	
		<a href="/servicios" class="mx-auto mt-10 grid gap-0 grid-cols-3 py-5 px-1 space-y-5 cursor-pointer group">
			<div class="col-start-1 row-start-1 col-span-3">
				<span class="border-0 backdrop-invert backdrop-opacity-1 bg-black/30 p-2 rounded-2xl text-lg text-white max-lg:text-center">Software y equipos de cómputo</span>
			</div>
			<div class="col-start-1 row-start-2 table col-span-3 md:col-span-1">
				<div class="text-lg text-white text-center md:text-right align-middle table-cell">
					<span class="border-0 backdrop-invert backdrop-opacity-1 bg-black/30 p-2 rounded-2xl">Celulares y tablets</span>
				</div>
			</div>				
			<div class="col-start-1 md:col-start-2 row-start-3 md:row-start-2 col-span-3 md:col-span-1 mx-10">
				<img title="Ver servicios" class="rounded-lg overflow-hidden w-50 min-w-66 align-middle table-cell mx-auto cursor-pointer group-hover:drop-shadow-[0px_0px_15px_rgba(255,255,255,.5)] drop-shadow-none transition duration-300 group-hover:scale-105 origin-center" src={spsRobot.src} alt="Ver Servicios"'/>
			</div>
			<div class="col-start-1 md:col-start-3 row-start-4 md:row-start-2 table col-span-3 md:col-span-1">
				<div class="text-white align-middle table-cell text-lg text-center md:text-left">
					<span class="border-0 backdrop-invert backdrop-opacity-1 bg-black/30 p-2 rounded-2xl">Gaming y accesorios</span>
				</div>
			</div>
			<div class="col-start-1 row-start-5 md:row-start-3 col-span-3">
				<span class="border-0 backdrop-invert backdrop-opacity-1 bg-black/30 p-2 rounded-2xl text-lg text-white max-lg:text-center">Cámaras de seguridad (CCTV)</span>
			</div>				
		</a>
	</div>
</div>