---
import Locations from "./Locations.astro";
import Services from "./Services.astro";
---
<div id="welcome" class="h-screen">
	<img class="blur-[2px] fixed z-[-1] h-[100%] w-[100%] mx-auto opacity-50 min-w-[100%] min-h-[100%]" src="/src/assets/sps-landing-background.png" fetchpriority="high" alt="Villagrán Guanajuato SPS Soluciones Pro-System"/>
	<div class="text-center w-[90%] mx-auto h-[100%] flex flex-col justify-center">
		<div class="text-white lg:text-8xl md:text-7xl sm:text-5xl text-4xl font-bold">
			Soluciones
		</div>
		<div class="text-white lg:text-8xl md:text-7xl sm:text-5xl text-4xl font-bold">
			Pro-System
		</div>
		<div class="text-white lg:text-4xl md:text-3xl sm:text-2xl text-[1rem] flex justify-center mt-10">
			Contamos con más +8 años de experiencia en el mercado de la tecnología
		</div>
		<div class="flex justify-center mt-10">
			<a href="" class="border-white border-2 text-white text-2xl px-4 py-2 rounded-lg hover:shadow-[0_0_10px_7px_rgba(0,0,0,0.3)] hover:shadow-red-200 shadow-none transition-shadow duration-300" onclick='return goToSectionById("servicios")'>
				Servicios y Ventas
			</a>
		</div>
	</div>
</div> 
<Services/>
<Locations/>