---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Start from "../components/Start.astro";
import '../styles/global.css';
const { title } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head> 
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="icon" type="image/png" href="/favicon.png" sizes="16x16"/>
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

		<meta property="og:url" content="https://solucionesprosystem.com"/>
		<meta property="og:type" content="website"/>
		<meta property="og:title" content="Soluciones Pro-System"/>
		<meta property="og:description" content="La tecnología hecha para ti"/>
		<meta property="og:image" content="https://solucionesprosystem.com/sps.png"/>
		<meta property="og:locale" content="es_ES"/>
		
		<meta name="description" content="Soluciones Pro-System, la tecnología hecha para ti"/>
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="https://www.instagram.com/spmmaste/"/>
		<meta name="twitter:creator" content="https://www.facebook.com/juan.orec"/>
		<meta name="twitter:title" content="Soluciones Pro-System"/>
		<meta name="twitter:description" content="La tecnología hecha para ti"/>
	</head>
	<body class="bg-black"> 
		<Header/>
		<slot />
		<Footer/>
		<Start/>
		<script type='text/javascript'>
			const header = document.getElementById('header')
			const btnStart = document.getElementById('btnStart')
			function handleOnScroll(ev) {
				const minHeight = location.pathname == "/" ? 50 : 10;
				if(window.scrollY > minHeight) {
					header.style.backgroundColor = "black";
				}
				else{
					header.style.backgroundColor = "transparent";
				}
				if(window.scrollY > window.innerHeight-minHeight) {
					header.style.borderBottom = "solid 1px #6a7282"; 
					btnStart.style.display = "block";
				}
				else{
					header.style.border = "solid 0px"; 
					btnStart.style.display = "none";
				}
			}

			window.onscroll = handleOnScroll;
		
			function goToSectionById(idValue)
			{
				const services = document.getElementById(idValue);
				services.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest", });
				return false
			}

			function openDialog(idValue) {
				const dialog = document.getElementById(idValue);
				dialog.showModal();
			}
		</script>
	</body>
</html>